html
    head
        title DatabaseProject
        link(rel='stylesheet', href='/css/newUser.css')
    body
        div(class='mainContainer')
            h1 Edit User
            div
                a(href='/users') View User List
            div(class='formContainer')
                form(action='/updateUser', method='post' class='form')
                    input(type='text', name='username', placeholder='User Id' value=user.userId)
                    input(type='text', name='firstName', placeholder='First Name' value=user.firstName)
                    input(type='text', name='lastName', placeholder='Last Name' value=user.lastName)
                    input(type='email', name='email', placeholder='Email' value=user.email)
                    input(type='number', name='age', placeholder='Age' value=user.age)
                    div(class='submitButtonContainer')
                        input(type='submit' class='submitButton')
