html
    head
        title BackEndProject
    body
        h1 Edit User
        div
            a(href='/users') View User List
        div
            form(action='/updateUser', method='post')
                div= 'Editing: ' + user.userId
                input(type='text', name='firstName', placeholder='First Name' value=user.firstName)
                input(type='text', name='lastName', placeholder='Last Name' value=user.lastName)
                input(type='email', name='email', placeholder='Email' value=user.email)
                input(type='number', name='age', placeholder='Age' value=user.age)
                input(type='submit')
