html
    head
        title DatabaseProject
        link(rel='stylesheet', href='/css/users.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    body
        div(class='mainContainer')
            div
                h1 User List

                div(class='addUser')
                    a(href='/newUser') Add User

            form(action='/searchUser', method='post')
                input(placeholder='Search User Id...' class='search' name='idSearch')
                input(type='submit' class='submitButton')

            form(action='/clearFilters', method='post')
                input(type='submit' value='Clear Filters' class='submitButton')

            div(class='tableContainer')
                div(class='headerContainer')
                    div(class='userInfoHeader')
                        div(class='sortContainer')
                            a(href='/sortUser' + '/userId/up' class='sort')
                                i(class="fas fa-long-arrow-alt-up")
                            div(class='header') User Id
                            a(href='/sortUser' + '/userId/down' class='sort')
                                i(class="fas fa-long-arrow-alt-down")
                    div(class='userInfoHeader')
                        div(class='sortContainer')
                            a(href='/sortUser' + '/firstName/up' class='sort')
                                i(class="fas fa-long-arrow-alt-up")
                            div(class='header') First Name
                            a(href='/sortUser' + '/firstName/down' class='sort')
                                i(class="fas fa-long-arrow-alt-down")
                    div(class='userInfoHeader')
                        div(class='sortContainer')
                            a(href='/sortUser' + '/lastName/up' class='sort')
                                i(class="fas fa-long-arrow-alt-up")
                            div(class='header') Last Name
                            a(href='/sortUser' + '/lastName/down' class='sort')
                                i(class="fas fa-long-arrow-alt-down")
                    div(class='userInfoHeaderEmail')
                        div(class='sortContainer')
                            a(href='/sortUser' + '/email/up' class='sort')
                                i(class="fas fa-long-arrow-alt-up")
                            div(class='header') Email
                            a(href='/sortUser' + '/email/down' class='sort')
                                i(class="fas fa-long-arrow-alt-down")
                    div(class='userInfoHeader')
                        div(class='sortContainer')
                            a(href='/sortUser' + '/age/up' class='sort')
                                i(class="fas fa-long-arrow-alt-up")
                            div(class='header') Age
                            a(href='/sortUser' + '/age/down' class='sort')
                                i(class="fas fa-long-arrow-alt-down")
                    div(class='edit')
                    div(class='delete')
                div(class='divider')
                div(class='usersContainer')
                    for user in userArray
                        div(class='user')
                            div(class='userInfo')= user.userId
                            div(class='userInfo')= user.firstName
                            div(class='userInfo')= user.lastName
                            div(class='userEmail')= user.email
                            div(class='userInfo')= user.age
                            div(class='edit')
                                a(href='/user/' + user.userId) Edit
                            div(class='delete')
                                a(href='/removeUser/' + user.userId) Delete

