html
    head
        link(rel='stylesheet', href='/css/style.css')
    body
        div
            p
                a(href='/newUser') Add User
            h1 User List

        table
            tr
                th Username
                    a(href='/sortUser' + '/userId') Sort
                th FirstName
                    a(href='/sortUser' + '/firstName') Sort
                th LastName
                    a(href='/sortUser' + '/lastName') Sort
                th Email
                    a(href='/sortUser' + '/email') Sort
                th Age
                    a(href='/sortUser' + '/age') Sort
                th
                th
            tr
            for user in userArray
                tr
                    td= user.userId
                    td= user.firstName
                    td= user.lastName
                    td= user.email
                    td= user.age
                    td
                        a(href='/user/' + user.userId) Edit
                    td
                        a(href='/removeUser/' + user.userId) Delete

