html
    head
        title DatabaseProject
        link(rel='stylesheet', href='/css/users.css')
    body
        div(class='mainContainer')
            div
                h1 User List

                div(class='addUser')
                    a(href='/newUser') Add User

            div(class='tableContainer')
                div(class='headerContainer')
                    div(class='userInfoHeader')
                        div() User Id
                        a(href='/sortUser' + '/userId' class='sort') Sort
                    div(class='userInfoHeader')
                        div First Name
                        a(href='/sortUser' + '/firstName' class='sort') Sort
                    div(class='userInfoHeader')
                        div Last Name
                        a(href='/sortUser' + '/lastName' class='sort') Sort
                    div(class='userInfoHeaderEmail')
                        div Email
                        a(href='/sortUser' + '/email' class='sort') Sort
                    div(class='userInfoHeader')
                        div Age
                        a(href='/sortUser' + '/age' class='sort') Sort
                    div(class='edit')
                    div(class='delete')
                div(class='divider')
                div(class='usersContainer')
                    for user in userArray
                        div(class='user')
                            div(class='userInfo')= user.userId
                            div(class='userInfo')= user.firstName
                            div(class='userInfo')= user.lastName
                            div(class='userEmail')= user.email
                            div(class='userInfo')= user.age
                            div(class='edit')
                                a(href='/user/' + user.userId) Edit
                            div(class='delete')
                                a(href='/removeUser/' + user.userId) Delete

